{% extends 'security/seo/theme.twig' %}

{% block content %}

{% block form_title %}{% endblock form_title %}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">

            {{ form_start(form) }}
                <div class="box box-default">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-4">
                                <div class='form-group'>
                                    {{ form_label(form.url) }}
                                    {{ form_errors(form.url) }}
                                    {{ form_widget(form.url, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class='form-group'>
                                    {{ form_label(form.title) }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class='form-group'>
                                    {{ form_label(form.h1) }}
                                    {{ form_errors(form.h1) }}
                                    {{ form_widget(form.h1, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class='form-group'>
                                    {{ form_label(form.description) }}
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class='form-group'>
                                    {{ form_label(form.keyword) }}
                                    {{ form_errors(form.keyword) }}
                                    {{ form_widget(form.keyword, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class='form-group'>
                                    {{ form_label(form.enabled) }}
                                    {{ form_errors(form.enabled) }}
                                    {{ form_widget(form.enabled, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                        {{ form_rest(form) }}
                    </div>

                    <div class="box-footer">
                        <div class="row-fluid">
                            <div class="col-md-6">
                                <a href="{{ path('s_seo') }}" class="btn btn-default">Voltar</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-primary">{{ btn_acao }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"><br></div>

                </div>
            {{ form_end(form) }}
        </div>
    </div>

</section>
<!-- END Main content -->
{% endblock content %}
