{% extends 'security/user/theme.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('lib/multiple-select/multiple-select.css') }}">
{% endblock %}

{% block content %}

{% block form_title %}{% endblock form_title %}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">

            {{ form_start(form) }}
                <div class="box box-default">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-8">
                                <div class='form-group'>
                                    {{ form_label(form.name) }}
                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='form-group'>
                                    {{ form_label(form.enabled) }}
                                    {{ form_errors(form.enabled) }}
                                    {{ form_widget(form.enabled, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class='form-group'>
                                    {{ form_label(form.username) }}
                                    {{ form_errors(form.username) }}
                                    {{ form_widget(form.username, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form-group'>
                                    {{ form_label(form.email) }}
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class='form-group'>
                                    {{ form_label(form.password.first) }}
                                    {{ form_errors(form.password.first) }}
                                    {{ form_widget(form.password.first, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='form-group'>
                                    {{ form_label(form.password.second) }}
                                    {{ form_errors(form.password.second) }}
                                    {{ form_widget(form.password.second, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='form-group'>
                                    {{ form_label(form.roles) }}
                                    {{ form_errors(form.roles) }}
                                    {{ form_widget(form.roles, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                        {{ form_rest(form) }}
                    </div>

                    <div class="box-footer">
                        <div class="row-fluid">
                            <div class="col-md-6">
                                <a href="{{ path('s_user') }}" class="btn btn-default">Voltar</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-primary">{{ btn_acao }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"><br></div>

                </div>
            {{ form_end(form) }}
        </div>
    </div>

</section>
<!-- END Main content -->
{% endblock content %}

{% block script %}
    <script src="{{ asset('lib/multiple-select/jquery.multiple.select.js') }}"></script>
    <script>
        $('#user_roles').multipleSelect();
    </script>
{% endblock script %}
